asgiref==3.8.1
crispy-bootstrap5 @ git+https://github.com/django-crispy-forms/crispy-bootstrap5.git@80073ba0d46214239080391b9ecb962464c31d7c
dj-database-url==2.3.0
Django==4.2.20
django-crispy-forms==2.4
gunicorn==23.0.0
packaging==25.0
python-decouple==3.8
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
